header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80') 
    bottom no-repeat;
    background-size: cover;
}
body {
    padding: 0;
    margin: 0;
}
h1 {
    color: gold;
    -webkit-text-stroke: 2px black;
    font-size: 8rem;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links{
    margin-bottom: 50px;

}
footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}
.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(130, 126, 126);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img{
    width: 100%;
    height: 375px;
    object-fit: cover;
}

p {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article:nth-child(even) {
    background-color : #efefefca;
}

article:nth-of-type(-n+2)::before {
    content: "NEW!" ;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none ;
    
}


<"https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80 - another one image">